* {
  box-sizing: border-box;
}
:root {
  --p-color: #003d29;
}
.p-color {
  background-color: var(--p-color);
}
.pt-color {
  color: var(--p-color);
}
.navbar-max-width {
  max-width: 900px;
}
div.hero1 {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  min-height: 300px;
}
.sectionFW img {
  height: 350px;
  width: 100%;
}
